.image-of-product__container {
  width: 320px;
  height: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  //border-radius: 12px;
}

.image-of-product {
  height: 100%;
  width: auto;
  object-fit: cover;
}